//global
$bodyFontFamily: 'Orkney', sans-serif;
$headingFontFamily: 'Wirgnum', sans-serif;
$borderColor: #fff;

//navigation
$navBgColor: #000;
$navLogoBg: rgb(242, 108, 79);
$navLinkColor: #fff;
$navLinkHover: #adadad;


//heading
$headingColor: #fff;

// homepage
$socialIconColor: rgb(158,158,158);

//about
$aboutBg: rgb(1,1,1);
$textColor: #7d7d7d;
$infoBg: rgb(9,9,9);


//skills
$skillsBg: #000;
