//global
$bodyFontFamily: 'Orkney', sans-serif;
$headingFontFamily: 'Wirgnum', sans-serif;

//navigation
$navBgColor: #000;
$navLinkColor: #fff;
$navLinkHover: #adadad;

//heading
$headingColor: #fff;
