footer {
  background-color: $navBgColor;
  height: 5vh;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0;
  }

  p {
    color: $textColor;
    margin: 0 !important;
    font-size: .75rem !important;
    line-height: 5vh;
  }
}
