footer {
  background-color: $navBgColor;
  margin-top: -1px;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0;
  }

  p {
    color: $textColor;
    margin: 0 !important;
    padding: 1rem 0;
    font-size: .75rem !important;
  }
}
