header {
  background: $navBgColor;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .nav-logo {
      background-color: $navLogoBg;
      padding-top: .5rem;

      h1 {
        padding: 0 .5rem;
        color: $headingColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }
    }

    .menu-bar {
      color: white;
      font-size: 35px;
      padding: .5rem;

      @include breakpoint(mobile) {
        font-size: 25px;
      }

      @include breakpoint(smallTablet) {
        display: block;
      }

      @include breakpoint(tablet) {
        display: none;
      }
    }

    .main-nav {
      padding: 1rem 0;

      @include breakpoint(mobile) {
        display: none;
      }

      @include breakpoint(tablet) {
        display: block;
      }

      .nav-wrapper {

        .nav-menu-bar {
          display: flex;
          list-style: none;

          .menu-item {
            padding-right: 10px;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: $navLinkColor;
              font-family: $bodyFontFamily;
              font-weight: normal;

              &:hover {
                color: $navLinkHover;
              }
            }
          }
        }
      }
    }
  }
}
