header {
  background: $navBgColor;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .nav-logo {
      background-color: $navLogoBg;
      padding-top: .5rem;

      h1 {
        padding: 0 .5rem;
      }
    }

    .main-nav {
      padding: 1rem 0;

      .nav-wrapper {

        .nav-menu-bar {
          display: flex;
          list-style: none;

          .menu-item {
            padding-right: 10px;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: $navLinkColor;

              &:hover {
                color: $navLinkHover;
              }
            }
          }
        }
      }
    }
  }
}
