header {
  background: $navBgColor;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .nav-logo {
      background-color: $navLogoBg;

      h1 {
        padding: 0 .5rem;
      }
    }

    .main-nav {
      padding: 1rem 0;

      .nav-wrapper {

        .nav-menu-bar {
          display: flex;
          list-style: none;

          .menu-item {
            padding-right: 10px;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: $navLinkColor;
              font-family: $bodyFontFamily;

              &:hover {
                color: $navLinkHover;
              }
            }
          }
        }
      }
    }
  }
}
