header {
  display: flex;
  justify-content: space-between;
  background: $navBgColor;

  .nav-logo {

  }

  .main-nav {
    padding: 1rem 0;

    .nav-wrapper {

      .nav-menu-bar {
        display: flex;
        list-style: none;

        .menu-item {
          padding-right: 10px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $navLinkColor;
            font-family: $bodyFontFamily;

            &:hover {
              color: $navLinkHover;
            }
          }
        }
      }
    }
  }
}
