
.hero {
  background-image: url('./assets/man.jpg');
  background-position: center center;
  background-size: cover;
  height: 90vh;

  .hero-wrapper {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .social-icons {

      i {
        color: rgb(158,158,158);
        padding-right: 1.5rem;
        font-size: 25px;
        cursor: pointer;
        transition: .3s;

        &:nth-child(4) {
          padding-right: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .hero-heading {

      h1 {
        font-size: 12px;
        font-family: $bodyFontFamily;
        font-weight: normal;
        color: $headingColor;
        display: none;
      }
    }

    .anim-heading {
      color: white;

      h1 {
        font-size: 50px;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }
    }
  }
}
