//home page btns
.hero-btn {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1rem 2rem;
  }
}
.about-btn {
  margin-top: 3rem;

  .contact-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 1rem 1.5rem;
  }
}
