//home page btns
.hero-btn {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  a {
    text-decoration: none;
    color: $headingColor;
    border: 2px solid $borderColor;
    padding: 1rem 2rem;
  }
}
.about-btn {
  margin-top: 3rem;

  .contact-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: $headingColor;
    background-color: $navLogoBg;
    padding: 1rem 1.5rem;
  }
}
