//home page btns
.hero-btn {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  a {
    text-decoration: none;
    color: $headingColor;
    border: 2px solid $borderColor;
    padding: 1rem 2rem;
    font-family: $bodyFontFamily;
    font-weight: normal;
  }
}
.contact-btn {
  margin: 3rem 0;

  .btn {
    text-transform: uppercase;
    text-decoration: none;
    color: $headingColor;
    background-color: $navLogoBg;
    padding: 1rem 1.5rem;
    font-family: $bodyFontFamily;
    font-weight: normal;
  }
}

.send-btn {
  color: $headingColor;
  background-color: $navLogoBg;
  padding: 1rem 1.5rem;
  border: none;
  font-family: $bodyFontFamily;
  font-weight: normal;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: uppercase;
}
