
.hero {
  height: 90vh;

  .hero-wrapper {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .social-icons {

      i {
        color: $socialIconColor;
        padding-right: 1.5rem;
        font-size: 25px;
        cursor: pointer;
        transition: .1s;

        &:nth-child(4) {
          padding-right: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .hero-heading {

      h1 {
        font-size: 72px;
        font-family: $bodyFontFamily;
        font-weight: normal;
        color: $headingColor;
      }
    }

    .anim-heading {
      color: $headingColor;

      h2 {
        font-size: 50px;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }
    }
  }
}
