
.hero {
  height: 85vh;

  @include breakpoint(mobile) {
    padding: 0 2rem;
  }

  @include breakpoint(smallTablet) {
    padding: 0 3rem;
  }

  @include breakpoint(tablet) {
    padding: 0 5rem;
  }

  @include breakpoint(laptop) {
    padding: 0 2rem;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 8rem;

    .social-icons {

      i {
        color: $socialIconColor;
        padding-right: 1.5rem;
        cursor: pointer;
        transition: .1s;

        @include breakpoint(tablet) {
          font-size: 20px;
        }

        @include breakpoint(laptop) {
          font-size: 25px;
        }

        &:nth-child(4) {
          padding-right: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .hero-heading {

      h1 {
        font-family: $bodyFontFamily;
        font-weight: normal;
        color: $headingColor;
        line-height: 1.5;

        @include breakpoint(mobile) {
          font-size: 8vw;
        }

        @include breakpoint(smallTablet) {
          font-size: 7vw;
        }

        @include breakpoint(tablet) {
          font-size: 6vw;
        }

        @include breakpoint(laptop) {
          font-size: 5vw;
        }

        @include breakpoint(desktop) {
          font-size: 4vw;
        }
      }
    }

    .anim-heading {
      color: $headingColor;

      h2 {
        font-family: $bodyFontFamily;
        font-weight: normal;
        line-height: 1.5;

        @include breakpoint(mobile) {
          font-size: 6vw;
        }

        @include breakpoint(smallTablet) {
          font-size: 5vw;
        }

        @include breakpoint(tablet) {
          font-size: 4vw;
        }

        @include breakpoint(laptop) {
          font-size: 3vw;
        }
      }
    }
  }
}
