
.hero {
  height: 90vh;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include breakpoint(tablet) {
      padding: 7rem 5rem 0;
    }

    .social-icons {

      i {
        color: $socialIconColor;
        padding-right: 1.5rem;
        cursor: pointer;
        transition: .1s;

        @include breakpoint(tablet) {
          font-size: 20px;
        }

        @include breakpoint(laptop) {
          font-size: 25px;
        }

        &:nth-child(4) {
          padding-right: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .hero-heading {

      h1 {
        font-family: $bodyFontFamily;
        font-weight: normal;
        color: $headingColor;
        line-height: 1.5;

        @include breakpoint(tablet) {
          font-size: 3rem;
        }

        @include breakpoint(laptop) {
          font-size: 72px;
        }
      }
    }

    .anim-heading {
      color: $headingColor;

      h2 {
        font-family: $bodyFontFamily;
        font-weight: normal;
        line-height: 1.5;

        @include breakpoint(tablet) {
          font-size: 2.7rem;
        }

        @include breakpoint(laptop) {
          font-size: 50px;
        }
      }
    }
  }
}
