.about {
  background-color: $aboutBg;
  margin: -1px 0 0 0 !important;

  @include breakpoint(mobile) {
    padding: 0rem 2rem 0;
    height: 100%;
  }

  @include breakpoint(smallTablet) {
    padding: 0rem 3rem 0;
  }

  @include breakpoint(tablet) {
    padding: 0rem 5rem 0;
  }

  h1 {
    font-size: 3rem;
    text-align: center;

    @include breakpoint(smallTablet) {
      padding-top: 1rem;
    }

    @include breakpoint(laptop) {
      padding-top: 2rem;
    }
  }

  .about-wrapper {
    display: flex;
    padding-top: 2rem;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    @include breakpoint(smallTablet) {
      flex-wrap: nowrap;
    }

    .left-part-about {

      img {
        height: 100%;
        width: 100%;
      }

      @include breakpoint (mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
      }
    }

    .right-part-about {

      @include breakpoint (mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
      }

      h2 {
        position: relative;
        display: inline-block;
        padding: .5rem 1.5rem;
        border: 2px solid $borderColor;

        &::after {
          border-style: solid;
          border-width: .625rem .625rem 0 0;
          border-color: $borderColor transparent transparent transparent;
          content: "";
          position: absolute;
          bottom: -10px;
          left: 10px;
        }
      }

      p {
        color: $textColor;
        text-align: justify;
      }

      .info {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        background-color: $infoBg;
        padding: 2rem 2.5rem;

        .part {
          flex-basis: 50%;
        }
      }
    }
  }
}
