.about {
  background-color: $aboutBg;
  height: 90vh;
  margin-top: -20px;

  h1 {
    color: $headingColor;
    font-size: 42px;
    text-align: center;
    padding-top: 2rem;
    font-family: $bodyFontFamily;
    font-weight: normal;
  }

  .about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .left-part-about {
      flex-basis: 50%;
    }

    .right-part-about {
      flex-basis: 50%;

      h2 {
        color: $headingColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
        position: relative;
        display: inline-block;
        padding: .5rem 1.5rem;
        border: 2px solid $borderColor;

        &::after {
          border-style: solid;
          border-width: .625rem .625rem 0 0;
          border-color: $borderColor transparent transparent transparent;
          content: "";
          position: absolute;
          bottom: -10px;
          left: 10px;
        }
      }

      p {
        font-family: $bodyFontFamily;
        color: $textColor;
        line-height: 1.4;
        font-weight: normal;
      }

      .info {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        background-color: $infoBg;
        padding: 2rem 2.5rem;

        .part {
          flex-basis: 50%;

          h3 {
            color: $headingColor;
            font-family: $bodyFontFamily;
          }
        }
      }
    }
  }
}
