.skills {
  background: $skillsBg;
  margin-top: -10px;
  height: 90vh;

  h1 {
    color: $headingColor;
    font-size: 42px;
    text-align: center;
    padding-top: 2rem;
    font-family: $bodyFontFamily;
    font-weight: normal;
  }

  .skills-wrapper {
    display: flex;
    padding-top: 2rem;

    .left-part-skills {
      flex-basis: 50%;

      h2 {
        color: $headingColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }

      p {
        color: $textColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
        padding-right: 4rem;
        text-align: justify;
      }
    }

    .right-part-skills {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;

      .progress {
        position: relative;
        padding: .3rem 0;

        h4 {
          color: $headingColor;
          font-family: $bodyFontFamily;
          font-weight: normal;
        }

        .progress-value {
          color: white;
          position: absolute;
          bottom: 15px;
          right: 0;
          border: 1px solid $borderColor;
          font-family: $bodyFontFamily;
          padding: .2rem .3rem .1rem;
          font-size: 10px;

          &::after {
            border-style: solid;
            border-width: .3125rem .3125rem 0 0;
            border-color: $borderColor transparent transparent transparent;
            content: "";
            position: absolute;
            bottom: -5px;
            left: 10px;

          }
        }

        .progress-bar {
          height: 2px;
          background-color: $navLogoBg;
          width: 100%;
        }
      }
    }
  }
}
