.skills {
  background: $skillsBg;
  margin-top: -1px;
  height: 100%;

  @include breakpoint(mobile) {
    padding: 0rem 2rem 0;
  }

  @include breakpoint(smallTablet) {
    padding: 0rem 3rem 0;
  }

  @include breakpoint(tablet) {
    padding: 0rem 5rem 0;
  }

  h1 {
    color: $headingColor;
    font-size: 42px;
    text-align: center;
    padding-top: 2rem;
    font-family: $bodyFontFamily;
    font-weight: normal;
  }

  .skills-wrapper {
    display: flex;
    padding: 2.5rem 0;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    @include breakpoint(smallTablet) {
      flex-wrap: nowrap;
    }

    .left-part-skills {
      padding-top: 1rem;

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding-right: 0;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
        padding-right: 4rem;
      }

      h2 {
        color: $headingColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }

      p {
        color: $textColor;
        font-family: $bodyFontFamily;
        font-weight: normal;
        text-align: justify;
      }
    }

    .right-part-skills {
      display: flex;
      flex-direction: column;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
      }

      .progress {
        position: relative;
        padding: .3rem 0 !important;

        h4 {
          color: $headingColor;
          font-family: $bodyFontFamily;
          font-weight: normal;
          padding: .5rem 0 !important;
        }

        .progress-value {
          color: white;
          position: absolute;
          bottom: 15px;
          right: 0;
          border: 1px solid $borderColor;
          font-family: $bodyFontFamily;
          padding: .2rem .3rem .1rem ;
          font-size: 12px;
          animation: 3s ease show;

          @keyframes show {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }

          }
          &::after {
            border-style: solid;
            border-width: .3125rem .3125rem 0 0;
            border-color: $borderColor transparent transparent transparent;
            content: "";
            position: absolute;
            bottom: -5px;
            left: 10px;

          }
        }

        .progress-bar {
          height: 2px;
          background-color: $navLogoBg;
          width: 100%;
          animation: 1s ease slideBar;

          @keyframes slideBar {
            0% {
              width: 0;
            }
            100% {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
