.contact {
  background: radial-gradient(rgba(0,0,0,.3),rgba(0,0,0,.9)),url('./assets/contact.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1px;

  @include breakpoint(mobile) {
    padding: 0rem 2rem 0;
    height: 100%;
  }

  @include breakpoint(smallTablet) {
    padding: 0rem 3rem 0;
  }

  @include breakpoint(tablet) {
    padding: 0rem 5rem 0;
  }

  h1 {
    font-size: 42px;
    font-family: $bodyFontFamily;
    font-weight: normal;
    color: $headingColor;
    padding-top: 2rem;
    text-align: center;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;

    .contact-items {
      flex-basis: 100%;
      padding-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include breakpoint(mobile) {
        flex-direction: column;
      }

      @include breakpoint(smallTablet) {
        flex-direction: row;
      }

      .item {

        h4 {
          color: $headingColor;
          font-family: $bodyFontFamily;
          font-weight: normal;
          padding-top: 1rem;
        }

        i {
          font-size: 35px;
          color: orangered;
        }
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      padding-top: 5rem;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(mobile) {
        flex-basis: 30%;
      }

      h2 {
        color: $headingColor;
        font-size: 30px;
        font-family: $bodyFontFamily;
        font-weight: normal;
      }

      a {
        text-decoration: none;
        font-size: 20px;
        color: $headingColor;
        font-family: $bodyFontFamily;
        font-weight: normal;

        i {
          font-size: 20px;
          color: orangered;
          font-weight: normal;
          padding: 1rem 1rem 1rem 0;
        }
      }
    }

    .contact-form {
      padding-top: 5rem;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 70%;
      }

      h2 {
        font-size: 30px;
        color: $headingColor;
        font-weight: normal;
        font-family: $bodyFontFamily;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 0 8rem;

        .form {
          display: flex;
          flex-direction: column;

          label {
            color: $headingColor;
            padding: .5rem 0;
            font-family: $bodyFontFamily;
            font-weight: normal;
            transition: .3s;
          }
        }

        .form-control {
          background-color: rgba(255, 255, 255, .2);
          border: none;
          line-height: 1.5;
          font-size: 1.2rem;
          padding-left: 5px;
          background-clip: border-box;

          &:hover {
            background-color: rgba(255, 255, 255, .3);
          }
        }

        .form-group {

          @include breakpoint(mobile) {
            flex-basis: 100%;
          }

          @include breakpoint(smallTablet) {
            flex-basis: 40%;
          }

          &:nth-child(2) {

            @include breakpoint(mobile) {
              margin: 0;
            }

            @include breakpoint(smallTablet) {
              margin-left: 15px;
            }
          }
        }

        .subject {
          flex-basis: 100%;

        }

        .form-message {
          flex-basis: 100%;

          textarea{
            resize: vertical;
            overflow: auto;
          }
        }
      }
    }
  }
}
