body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: .5rem 0;
  padding: 0;
}

p {
  margin: .5rem 0;
  padding: .5rem 0;
}