body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 !important;
  color: $headingColor !important;
  font-weight: normal !important;
  font-family: $bodyFontFamily !important;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
  font-family: $bodyFontFamily;
}
span {
  font-size: 1rem;
}

a {
  color: $headingColor;
  font-family: $bodyFontFamily;
  font-weight: normal;
}
