body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 !important;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}
span {
  font-size: 1rem;
}
